<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <script>
        if ("serviceWorker" in navigator){
            navigator.serviceWorker.register("/assets/service-worker.js")
        }
    </script>
    <script src="/assets/old_browser_compat.js"></script>
    <script src="/assets/htmx_1_9_11.min.js"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>

