{% extends "base.html" %}
{% block body %}

<style>
    body {
        padding: 0;
        margin: 0;
        background-color: black;
    }
    #pit {
        margin: 0px;
    }
    .control {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .control a {
        width: 100%;
        height: 100%;
        display: block;
    }
</style>

<div id="pit">
    <div class="page">
        {% include "page_controls.html" %}
    </div>
    <button hx-get="/page/{{ page.name }}/controls"
            hx-trigger="click"
            hx-target=".page"
            hx-swap="innerHTML">
        Recargar
    </button>
</div>

<script>
    // TODO: this should also be done on reload!!
    function setGridSize() {
        var windowWidth = window.innerWidth;
        var windowHeight = window.innerHeight;

        var maxColWidth = windowWidth / {{ page.width }};
        var maxRowHeight = windowHeight / {{ page.height }};

        var optimalSquareSize = Math.min(maxColWidth, maxRowHeight);

        var elements = document.getElementsByClassName("page");
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.gridTemplateColumns = "repeat({{ page.width }}, " + optimalSquareSize + "px)";
            elements[i].style.gridTemplateRows = "repeat({{ page.height }}, " + optimalSquareSize + "px)";
        }
    };
    setGridSize();
    window.addEventListener('resize', setGridSize);
</script>

{% endblock %}
